*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    height: 64px;   
    background-color: #FD6E0A ;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    border-style: none;
}

/* header and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    padding-top: 50px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/* banner background image */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* banner styling  */

.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
    margin-top: 5px;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom:30px ;
}
/* Main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About me section styles */
.about{
    margin-top:130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px; 
    text-align: center;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    
    margin-top: 30px;
    margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    /* justify-items: center;
    gap:50px ;  /*Both will work* */
    justify-content: space-around;
}
.about-info{
    
}
.into-title{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}
.into-description{
    font-weight: 700;
    font-size: 20px;
    color:#474747;
}